[2020-08-29 10:02] medknecth opened #1 "www.nse1india.com will stop from August"
Varun, could you please help in modyfying the code to work with nse new website.

[2020-08-29 17:18] VarunS2002 commented on #1
According to the rules of the new website, using scripts to scrape data is not allowed and they've enforced this by blocking scripts from accessing the site.
They've also changed the way the values are calculated.
So the new version is a work-in-progress but it might take a while.

[2020-08-30 04:35] medknecth commented on #1
Thats Great, But I got your code to late, by the time nse is changing lay out. If I can be of any help please do let meknow.

[2020-08-30 07:06] VarunS2002 commented on #1
Once I'm done, I'll update the code and close this issue so you'll know.

[2020-09-01 08:56] medknecth commented on #1
Sir, I succeeded in getting data from new website and made the final df as in your code from my code. Now if I am doing modification in your code, getting stucked. Major change is won only tail left. If you allow I can share my code and with your small time our new code logic should be up.
Thanks

[2020-09-01 09:08] VarunS2002 commented on #1
You can share the code file here itself so we can test it.

[2020-09-01 09:35] medknecth commented on #1
from tkinter import *
from tkinter import messagebox
import tksheet
import bs4
import requests
import datetime
import webbrowser
import csv
from selenium import webdriver
import os
import json
import pandas as pd

pd.set_option('display.width', 1500)
pd.set_option('display.max_columns', 75)
pd.set_option('display.max_row', 10500)

seconds = 30

def get_sess():

    drive=webdriver.Chrome('chromedr

[2020-09-01 09:40] medknecth commented on #1
from tkinter import *
from tkinter import messagebox
import tksheet
import bs4
import requests
import datetime
import webbrowser
import csv
from selenium import webdriver
import os
import json
import pandas as pd

pd.set_option('display.width', 1500)
pd.set_option('display.max_columns', 75)
pd.set_option('display.max_row', 10500)

seconds = 30

previous_time = None
old_points = None
old_call_sum =

[2020-09-01 09:42] VarunS2002 commented on #1
Can you please drag and drop the .py file here.

[2020-09-01 09:44] VarunS2002 commented on #1
Upload it is as a .txt file as .py file can't be uploaded I'm assuming

[2020-09-01 09:45] medknecth commented on #1
[MukeshChauhan.txt](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/files/5155372/MukeshChauhan.txt)

[2020-09-01 09:45] medknecth commented on #1
Yes it was not allowed. Uploaded Txt File

[2020-09-01 14:21] VarunS2002 commented on #1
Thanks for the code I'm working on an improved version.

[2020-09-01 15:01] medknecth commented on #1
Great sir, I understand performance wise my code is not much stable but I
believe as per new nse sites cookies authentication is must, and nseappid
cookie can be used from code.
I will be waiting for your time and modifying current code.

On Tue, 1 Sep 2020, 19:51 Varun Shanbhag, <notifications@github.com> wrote:

[2020-09-01 15:10] VarunS2002 commented on #1
Since your using the json data instead of scraping I tried this :
[code]
I didn't have to create a cookie to do this.
Although the function you wrote to convert the json data to a dataframe is very useful.

[2020-09-01 16:17] VarunS2002 commented on #1
[3.0_oop.txt](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/files/5157531/3.0_oop.txt)
Use this for the time being. Note that this is set to NIFTY and 3 Sep 2020.
I'm working on restructuring the code and adding support for other indexes and expiry dates.

[2020-09-02 13:42] medknecth commented on #1
Good Evening Sir, got delayed with office work. You code I tested today it was not so smooth as earlier one reason data from new website. It gave error two times after 15minutes or so ....else stop responding. But data was matching in real time. I tried to replicate same code by changing API url but it did not worked...am I missing some thing here.

[2020-09-02 13:45] VarunS2002 commented on #1
The website was having issues today even the normal page for option chain wasn't loading properly. I guess this is why the old website is still live and working so the old program (2.0) works just fine. The new version

[2020-09-02 13:46] VarunS2002 commented on #1
The new version is ready and is in testing. I'm ironing out the last bugs I can find. Will release it in a day or two.

[2020-09-02 13:48] medknecth commented on #1
Thanks Senior. Also canI have personal email id to ask you some thing on market.

[2020-09-02 14:03] VarunS2002 commented on #1
Oh no I do not know anything about the market you know more since you're using this program😅. I'm just an IT guy who did this for my boss who gave me the conditions and requirements.

[2020-09-02 14:40] VarunS2002 commented on #1
That's nice

[2020-09-03 07:51] VarunS2002 commented on #1
I've committed the new version to the master branch. See if you can find any issues so I'll fix them and then draft a release

[2020-09-03 10:09] medknecth commented on #1
Sir,
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\A967\Anaconda3\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "C:\Users\A967\Anaconda3\lib\tkinter\__init__.py", line 749, in callit
    func(*args)
  File "<ipython-input-1-8f91d0ddb0d2>", line 541, in main
    df, current_time, self.underlying_stock, self.points = self.get_

[2020-09-03 10:25] VarunS2002 commented on #1
Did the program crash because of this or did this just show up in the console?

[2020-09-03 10:58] medknecth commented on #1
It shows up in the console, program just go silent and data stops updating.

[2020-09-03 11:14] VarunS2002 commented on #1
I updated the code it should now ignore that error. I earlier added except condition for json decode but apparently anaconda is using a different package for that.

[2020-09-05 11:45] VarunS2002 commented on #1
I have published the new release and updated the documentation.
[Link to the release](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/releases/tag/3.0).
If you face any problems feel free to open a new issue👍.
Also thanks for the help in the json to dataframe function.

[2020-09-05 11:45] #1 closed

[2020-12-02 07:41] The-Ravinder-Sharma opened #3 "Save Entire Option Chain Data in Local And View in Excel Sheet."
@VarunS2002  The data of the index is refreshed by the exchange on nseindia.in after about 3 minutes and 25 seconds. This time is not fixed, there is a difference of about 20-30 seconds.

I have a request from you to please make a software from python so that whenever the data of our Banknifty's option chain is updated after 3 minutes, the exchange will be saved on our computer locally and we can

[2020-12-03 08:26] VarunS2002 commented on #3
I didn't get exactly what you are trying to say. This program already has the option to select BANKNIFTY instead of NIFTY at the beginning and then the data can be exported to Excel on a button click. Data also refreshes every 1 minute and has the time column to see when it has refreshed.

[2020-12-03 08:42] The-Ravinder-Sharma commented on #3
Sir, I am talking about the index trading setup of [Nitin Murarka](https://twitter.com/nitinmurarkasmc) having SMC Global.

I am saying that if we select Bank Nifty, then the software will save every minute of the data of all its strike price.
Right now our software only saves the data of the strike price that we put in the strike price. And it is just copied to Excel and does not run live.

All t

[2020-12-03 08:44] The-Ravinder-Sharma commented on #3
This is something like that we scrap the data of the option chain of the entire index in Excel and we can use all kinds of strategies on it.

[2020-12-03 09:01] The-Ravinder-Sharma commented on #3
Please View This Images.
https://pbs.twimg.com/media/EmcR5vgVgAANQ-h?format=png&name=medium
https://pbs.twimg.com/media/EnUkxRkUYAIKQij?format=jpg&name=medium
https://pbs.twimg.com/media/EnpPBjiUwAEGMO8?format=png&name=medium
https://pbs.twimg.com/media/EnqCoBmXIAENCfB?format=png&name=medium

& Also Watch This Videos
[Nitin Murarka Setup Video 1](https://www.youtube.com/watch?v=vwSjRO4wGYE)
[Nitin

[2020-12-04 16:15] VarunS2002 commented on #3
I'm currently working on a different project, I'll add this to future projects once I'm done with that.

[2020-12-04 16:15] #3 closed

[2020-12-19 13:24] OXENHUNTER opened #4 "how i can save oi and change in oi"
bchaurasiya5163@mail.com

[2020-12-19 14:46] VarunS2002 commented on #4
The program currently doesn't support saving the values of  OI and Change in OI.
Is that what you wanted?

[2020-12-19 14:53] OXENHUNTER commented on #4
can you provide your contact

[2020-12-19 14:56] OXENHUNTER commented on #4
please you can modify this code for me

[2020-12-20 04:56] VarunS2002 commented on #4
I'm currently working on a different project, I'll add this to future projects once I'm done with that.

[2020-12-20 04:56] #4 closed

[2021-01-05 03:08] shivnaren opened #5 "Volume not available"
Hi Varun,

I am using this option chain Analyzer, I found that if volume available with increased or decreased number, Trade can be taken.
Can you please try to add volume.

[2021-01-09 13:54] VarunS2002 commented on #5
You directly want the call vol and put vol values in the table ?

[2021-01-09 13:54] VarunS2002 commented on #5
Or you want the call vol sum and and put vol sum like call sum and put sum

[2021-01-12 07:49] sudhirdhongade opened #6 "Bank Nifty spot price shows zero"
Hi Varun,

I actually have 3 concerns -

1. The 'Value' column shows 0 for Bank nifty. Tried various strike prices but result is same.
2. There is a delay of about 1 min for new updated values to appear.
3. A minute update is skipped sometimes. For eg: If the last update was on 13:06:27 then the next update may come at 13:08:57.

Also would really appreciate if you could mention few signals that o

[2021-01-12 11:05] VarunS2002 commented on #6
Addressing your concerns:
1. I found out the issue is that NSE's data is broken sometimes for certain strike prices. I've thought of a workaround and will fix it soon.
2 and 3. The NSE website doesn't update at fixed intervals. Sometimes <1 min and sometimes up to 5 minutes. So when it updates the program shows the data with the time at which the site updated.

Also, are you using the .py version

[2021-01-12 17:21] sudhirdhongade commented on #6
I am using the .exe version. Actually I am just getting started with Python. That's how I ended up on this page.

Thank you for your prompt response. Much appreciated..!

[2021-01-13 02:28] VarunS2002 commented on #6
The Open Interest label turning bullish or bearish is the indication you're looking for. In the next update you can enable notifications for when it changes.

[2021-01-15 07:38] VarunS2002 commented on #6
Fixed in the Latest release [4.0](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/releases/tag/4.0)

[2021-01-15 07:38] #6 closed

[2021-01-17 12:04] VarunS2002 commented on #5
@shivnaren I will be closing this issue in 2 days due to inactivity

[2021-01-17 13:21] shivnaren commented on #5
@VarunS2002 , Volume can be provided accordance to the refresh time.

If refresh time selected
for 1 min, sum of volume for that 1 minute
for 5 min, sum of volume for that 5 minutes
like that can show.

[2021-01-17 15:44] VarunS2002 commented on #5
@shivnaren Call Volume Sum the same way Call Sum is calculated right?

[2021-01-17 17:09] shivnaren commented on #5
@VarunS2002 , can you tell me one thing ?
the Call sum is calculated for combination of 3 to 4 strick prices , right ?
If , so, the calculation of volume calculating for 3 or 4 stricke prices i think not good for analysis.

If possible can you get the volume from the nifty or bank nifty future.
In future, volume is available for entire index and trade can be taken

It is just suggestion, if you be

[2021-01-18 05:59] VarunS2002 commented on #5
@shivnaren This mostly won't be added but may be possible in the future. Thanks

[2021-01-18 05:59] #5 closed

[2021-01-18 11:52] Sangram2905 opened #7 "Solution for Banknifty Zero value"
https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/blob/b72bdc94b359321dc08d342fd8a476b208597041/NSE_Option_Chain_Analyzer.py#L757

Bro, Found an solution for BankNifty Zero Value

on line no 757 replace

points : float = pe_values[0]['underlyingValue']

with

points : float = ce_values[0]['underlyingValue']

Keep the great work...

[2021-01-18 12:24] VarunS2002 commented on #7
I already fixed that issue using an alternate method here: https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/commit/72f02093609167c9f367edacc44bd7b51bf88324
This fix is also present in the latest version : 4.0
I'm closing this issue now, you can re-open this if the issue still persists.
Thanks man!

[2021-01-18 12:24] #7 closed

[2021-01-20 15:06] starson007 opened #8 "Enhancement : To Include Stock Options"
Hi Varun

First of all, Great Job done and big thanks for sharing.

Will it be possible for you to change the URL "https://www.nseindia.com/api/option-chain-indices" to "https://www.nseindia.com/api/quote-derivative?symbol" and provide option of "TATASTEEL". It would be great to include all stock options. I can help in creating a list in a particular format, if you need.

I tried doing that but go

[2021-01-20 15:33] VarunS2002 commented on #8
@starson007 What OS and version are you using?

[2021-01-20 19:22] starson007 commented on #8
@VarunS2002 : Windows 10 & Version is 2004.

![image](https://user-images.githubusercontent.com/77650776/105224198-e02f3b80-5b82-11eb-9d71-bb31d46b112e.png)

[2021-01-21 14:59] sonisultania opened #9 "Need Help with New Nse India Site"
Hey,

I came across your solution to access the new nse site on stackoverflow as I was running into authentication issues too. Your solution is neat and works. Could you help me with me some documentation though? I want to understand why you have used f before the url. Here's the stackoverflow soln I'm referring to:

https://stackoverflow.com/questions/63981362/python-requests-get-returns-response

[2021-01-21 15:27] VarunS2002 commented on #8
@starson007 What did you do to get the PyInstaller error?

[2021-01-22 01:46] starson007 commented on #8
Hi Varun

Thanks for prompt response. All issues have been resolved.

The issue can be closed.

- Bootloader issue was resolved through https://datatofish.com/executable-pyinstaller/
- The correct URL to be used is "https://www.nseindia.com/api/option-chain-equities?symbol="

[2021-01-22 03:00] VarunS2002 commented on #8
@starson007 Have you added support for stocks in this program?

[2021-01-22 06:03] VarunS2002 commented on #9
@sonisultania
Guide : https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/
In that example on stackoverflow, I haven't used the 'f' so you can remove it.

[2021-01-22 06:39] sonisultania commented on #9
Thanks for your reply. Sorry to bug you again, but I tried running the code
this morning and it works for INDEX data (NIFTY, BANKNIFTY, FINNIFTY). But
fails for stock option data. Attaching the code I'm using (it's markdown
file).

My earlier code was working fine (on old NSE site) but with the new api I'm
running into issues.

Thanks again for your help!

On Fri, Jan 22, 2021 at 11:33 AM Varun Sh

[2021-01-22 06:50] VarunS2002 commented on #9
@sonisultania The api link for stocks and indices are different.
Try (this)[https://www.nseindia.com/api/option-chain-equities?symbol=ACC]

[2021-01-22 07:04] sonisultania commented on #9
Oops. That was such a dumb mistake, should have caught it earlier :D
Changed it and works fine now . Thanks a ton for your help!

PS: I might bug you again in future

On Fri, Jan 22, 2021 at 12:21 PM Varun Shanbhag <notifications@github.com>
wrote:

[2021-01-22 13:54] VarunS2002 commented on #9
@sonisultania  No problem dude :)

[2021-01-22 13:54] #9 closed

[2021-01-22 18:40] starson007 commented on #8
Yes. Currently I have added only one Stock "TataSteel" i.e of my intersest. But we can add more without any much changes.

One more change was required like many parameters for indices were being divided by 1000. But Stocks i am dividing by 10 as the number of contracts are much lower.

[2021-01-23 07:09] VarunS2002 commented on #8
Thanks!
And no I'm not trading with this program it's for my boss.

[2021-01-23 07:09] #8 closed

[2021-02-05 08:23] codesuman opened #10 "Clear instructions to run this program"
Looks like a promising project but am unable to find proper instructions to run the same on my local. Could you please help me out on this.

[2021-02-05 08:58] VarunS2002 commented on #10
@codesuman  Usage instructions: https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/blob/master/README.md#Usage

[2021-02-05 09:25] codesuman commented on #10
@VarunS2002 this is after starting the application. But how do i start the application was my question ?

[2021-02-05 09:29] VarunS2002 commented on #10
@codesuman Download the exe file and run it🤷🏻‍♂️

[2021-02-05 09:34] codesuman commented on #10
Pardon my lack of Python knowledge. I see there is a dependency **auto-py-to-exe**, i assume it should create an exe file. But am unable to do the same on my local after running the command - `python3 NSE_Option_Chain_Analyzer.py`. Needed help on this line.

[2021-02-05 09:38] VarunS2002 commented on #10
@codesuman
If you're using Windows just download the exe directly and run it : https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/releases/download/5.0/NSE_Option_Chain_Analyzer_5.0.exe
If you're running Linux, this program doesn't support Linux.

[2021-02-05 09:40] codesuman commented on #10
My bad, i never looked into that Release section. Thanks !

[2021-02-05 09:40] #10 closed

[2021-02-10 12:31] vibhormittal21 opened #11 "Hover over headers to get the details of it"
@VarunS2002 Firstly I really appreciate this piece of art. It works brilliantly with great insights into option strike price data.
As a new user, I am continuously struggling to remember how each insight or data point is being calculated.
It will be awesome if we can add the details for each insight from Wiki whenever we hover our mouse over it.

[2021-02-11 05:36] VarunS2002 commented on #11
@vibhormittal21
Description of the data displayed is available here: https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer#data-displayed
Since it is too big, it won't be added in the program.
The formula for calculation is complicated and hence isn't documented. You will have to refer the code for that.

[2021-02-11 07:03] vibhormittal21 commented on #11
Okay. Thanks again!

[2021-02-11 07:03] #11 closed

[2021-02-17 13:50] MahadevanAnandhan opened #12 "SSL Wrong Version Number"
am getting below error after start the .py file

requests.exceptions.SSLError: HTTPSConnectionPool(host='www.nseindia.com', port=443): Max retries exceeded with url: /products-services/equity-derivatives-list-underlyings-information (Caused by SSLError(SSLError(1, '[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1123)')))

[2021-02-18 04:42] VarunS2002 commented on #12
@MahadevanAnandhan Have you tried running it today? Or the .exe file?

[2021-02-18 06:12] MahadevanAnandhan commented on #12
Tried today, py file and exe, getting the same error for both

 It is working without proxy. not working through the proxy.

[2021-02-18 06:20] VarunS2002 commented on #12
@MahadevanAnandhan Then it is not a problem in this program, the website probably doesn't allow proxy connections

[2021-02-19 05:47] Sangram2905 opened #13 "NSE Data time difference"
Hello Varun,

This is not an issue but an request, if you may observed the  general time difference of NSE site data is 2.5 min but some time its more than 7 to 8 ....or some time it just stops....

Like Today at 11:07 AM the BankNifty pull the data last 10:56AM follow the image System time and Data Time column
![image](https://user-images.githubusercontent.com/59437406/108462784-3a670d80-72a3-11e

[2021-02-19 10:55] #12 closed

[2021-02-21 20:10] VarunS2002 commented on #13
@Sangram2905 Sorry for replying late. I'm really busy with work lately. I'll get back to this later👍🏻

[2021-02-22 05:59] Sangram2905 commented on #13
No Issues Bro, may be some IDE req. to "import datetime , time"

Keep the good work.

Regards,
Sangram

[2021-02-25 01:37] ranjeetkesri commented on #13
make this in the chart. the difference should be shown in the chart for a better understanding

[2021-02-27 05:12] VarunS2002 commented on #13
@ranjeetkesri Which chart?

[2021-02-27 06:58] ranjeetkesri commented on #13
the difference should be shown in a chart using matplotlib, I am using excel VBA don't know python coding

[2021-02-27 06:59] ranjeetkesri commented on #13
can i contact you on your email for discussion ??

[2021-02-28 10:53] VarunS2002 commented on #13
@ranjeetkesri Sorry man I'm really busy with work these days so new features are currently not my priority. Also I'm personally not a trader so if you have any strategy or related questions I'm afraid I can't answer.

[2021-03-01 06:23] ranjeetkesri commented on #13
I have my own system in excel, which working fine for me very accurately, want the same in python... but don't know python coding

[2021-03-01 07:08] Sangram2905 commented on #13
@ranjeetkesri  Hi, Sorry to contact you here but your contact details are missing, if you req. any help on python program
plz drop me an Email with your contact details on sangram.phadke07@gmail.com.
I will contact you.

[2021-03-17 16:35] dhairyatapadia commented on #13
@ranjeetkesri

 I am facing issue with Excel VBA code.  Could you please provide me your Excel VBA code on mail Dhairya.tapadia@gmail.com.
 What am trying to do finding out sudden spike/change in OI in Call/Put which identify change direction of index/stock

Sorry Author for using your space for discussion.

[2021-03-22 17:03] Sangram2905 opened #14 "Interview"
Hi Varun,

We were impressed by your NSE OC Analyzer code and would like to invite you to interview for our upcoming YouTube channel dedicated to Stock Market programmer.
If you are interested please send us an Email on "sangram.phadke07@gmail.com" with your contact details.

Sorry to creating issue, as no contact details found.

Regards,
Sangram

[2021-03-23 10:04] VarunS2002 commented on #14
@Sangram2905 Thanks man, I appreciate the offer, but I'm not an investor. I'm actually an IT guy who made this software for my client. If you want to use/teach this program on your channel go ahead. Do post the channel link here, and best of luck!

[2021-03-23 11:44] Sangram2905 commented on #14
Ok as you wish, keep the good work.

[2021-03-23 11:44] #14 closed

[2021-04-03 12:46] ThePresence opened #15 "Failed To Execute Script"
Hi,

When I try to install .exe file in win 10 I'm getting error failed to execute script.

[2021-04-06 07:33] VarunS2002 commented on #15
@ThePresence Please share screenshots and logs if possible

[2021-04-09 15:31] VarunS2002 commented on #15
Closing this issue due to inactivity

[2021-04-09 15:31] #15 closed

[2021-04-13 16:59] VarunS2002 commented on #13
@Sangram2905 Do you have your own version of this program?

[2021-04-14 04:11] Sangram2905 commented on #13
Hello @VarunS2002,

Yes, I use your program as base for visualization but the internal core "calculation logic" is completely change
and its base on  logic https://www.youtube.com/watch?v=qfyLd-mu7gU&ab_channel=LearnStockMarketTrading

The program base on your older version program around Nov.2020

Also added the my own logic for ML & Graphs and so on...
The file can be found in https://github.com

[2021-04-14 08:14] VarunS2002 commented on #13
@Sangram2905 That's very impressive.
I'll take a look at it soon.
Keep up the good work too✌🏻

[2021-04-15 08:52] johnbest5673 opened #16 "A suggestion"
Hi Varun,

First of all Thanks for this wonderful tool as it is helping me to fetch the Option Chain from NSE.
As I am not a student of Mr. Dharaskar, the only advantage for me is to retrieve the Chain, every
"n" minutes. I would like to have an additional feature, if possible. Humble request.

An additional column in csv with the Spot Price of the underlying will be of more help.

Regards

[2021-04-15 12:33] VarunS2002 commented on #16
@johnbest5673
If the only advantage for you is to retrieve the Chain, every
"n" minutes, you can use the `Dump Entire Option Chain to CSV` feature.
This retrieves the NSE data and puts it in the csv file without any changes.
So you can run your own preferred calculations using Excel or Python, etc

[2021-04-15 12:58] johnbest5673 commented on #16
Hi Varun,

Thanks for the reply.

I am already doing this, but I need corresponding SPOT Value at that time. :)
If you could add this to the dumped file, will be helpful.

Regards

[2021-04-15 13:06] johnbest5673 commented on #16
Hi Varun,

I am attaching an image.
An extra column (red colored) at the end, is what I am asking for.

Also adding a timestamp would be an added advantage, if you could... 👍

Enough from me. :)

![python](https://user-images.githubusercontent.com/5575342/114873766-4392d780-9e19-11eb-9f9e-503af9fbe07a.PNG)

[2021-04-15 14:51] VarunS2002 commented on #16
@johnbest5673
This feature won't be implemented, that file is for unmodified data.
You can retrieve the price from the other csv file by using `Live Exporting to CSV` feature.
Re-open this if there is anything else.
Thanks!

[2021-04-15 14:51] #16 closed

[2021-04-27 14:36] VarunS2002 commented on #13
@Sangram2905 Time Difference feature added in commit : https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/commit/1bf1bb658992eff86dd29a5fce3aad6d3baa9bd5
Will be added in the next stable release

[2021-04-27 15:22] Sangram2905 commented on #13
Thanks Varun, This is the best Visual Option chain analysis I ever seen.

Also it's very easy to modify.

Keep the Good work.

Closing this issue.

[2021-04-27 15:22] #13 closed

[2021-04-28 01:20] buntymehar opened #17 "Not working on aws and gcp"
The code is working fine on local pc but not on aws or gcp. Please try yourself. And this is not firewall issue.

[2021-04-28 07:41] VarunS2002 commented on #17
@buntymehar Please share the error log or message

[2021-05-02 09:06] VarunS2002 commented on #17
@buntymehar This issue will be closed in 2 more days due to inactivity.

[2021-05-04 11:50] #17 closed

[2021-06-03 17:38] shivkumr-code opened #18 "Is this suppported in mac?"
I am trying to install this in mac/linux. The installation commands are very vague. I installed the requirements.txt and also downloaded the .py file. what is the next step? where can I find?

Also, is there any way where I can run this in command line mode, if GUI is not yet implemented for Mac

[2021-06-04 13:19] VarunS2002 commented on #18
@shivkumr-code It is officially not supported on mac but it might be possible to run it.
Do you know Python?

[2021-06-04 16:34] shivkumr-code commented on #18
Yeah, I tried running it, it runs without any issues.

On Fri, Jun 4, 2021, 9:19 PM Varun Shanbhag ***@***.***>
wrote:

[2021-06-04 17:18] VarunS2002 commented on #18
@shivkumr-code Are all features working properly?

[2021-06-08 15:42] VarunS2002 commented on #18
@shivkumr-code  If everything is working perfectly then I need your help to add proper instructions for Mac in README. You in?

[2021-06-09 03:39] shivkumr-code commented on #18
Yes, I am in. it works in Mac with python3. Have not tried all the features
yet. But the data is updating in real time. I just started learning
options. So I am not sure what important features to check.

On Tue, Jun 8, 2021, 11:42 PM Varun Shanbhag ***@***.***>
wrote:

[2021-06-09 09:56] VarunS2002 commented on #18
@shivkumr-code Can you share the exact steps and commands required to run this on Mac?
Installing tkinter/ all modules

[2021-06-15 10:31] #18 closed

[2021-06-24 06:12] sidjad opened #20 "Add new features #not an issue"
last 4-5 months I am using the app and it's really great.  What I am missing here is auto dump full chain data. and max pain calculation.

The next update Would be to consider the following feature
**1. Auto dump complete chain data
2. Max Pain calculation
3. SQL store data for better OI change calculation in last week or month expiry.**

[2021-06-24 07:19] VarunS2002 commented on #20
1. Is this what you're looking for:

![image](https://user-images.githubusercontent.com/30069380/123219128-29950580-d4ea-11eb-849f-af16c9e3b4ba.png)

2. Added to feature requests

3. SQL related operations won't be added since majority don't use it and there is a lot of fragmentation relating to which DB to use and other issues that come with that.
If interested, you can write a script to automate

[2021-06-26 07:18] VarunS2002 commented on #20
@sidjad This issue will be closed in 2 more days due to inactivity.

[2021-06-28 08:02] thebullcapital commented on #20
bhai still facing issue to convert .exe .....

[2021-06-28 12:34] VarunS2002 commented on #20
@thebullcapital Please open a new issue and explain your problem there

[2021-06-28 12:35] VarunS2002 commented on #20
@sidjad Closed due to inactivity

[2021-06-29 09:51] jagdishjh opened #21 "No module named 'bs4'"
builtins.ModuleNotFoundError: No module named 'bs4'

[2021-06-29 10:04] VarunS2002 commented on #21
@jagdishjh You have to install the libraries first.
Please read the [instructions](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer#method-2-windows-and-linux).

[2021-06-29 10:04] #21 closed

[2021-07-12 04:51] dinu1389 opened #22 "Feedback: How about showing Call LTP and Put LTP as well"

[2021-07-12 05:39] VarunS2002 commented on #22
@dinu1389 Added to feature requests

[2021-07-12 12:39] VarunS2002 commented on #22
@dinu1389 In the option menu you can enable "Dump entire Option Chain data to a `.csv` file".
LTP is shown in the `.csv` file.
Do you want it on the UI screen?

[2021-07-12 13:14] dinu1389 commented on #22
Yes @VarunS2002 it would be better cause we usually look at LTP in our trading platforms.

[2021-07-12 13:15] dinu1389 commented on #22
Thanks for your response :)

[2021-07-12 15:44] VarunS2002 commented on #22
Okay I might add it some time. Until then you can refer the csv file or the website if you really need it :)

[2021-10-01 04:53] dipankar-npowered opened #23 "Incorrect strike price"
When I am trying to put strike price 18000, It is saying Incorrect "Strike Price. Please enter correct Strike Price."

[2021-10-01 06:32] damodarnaidugali commented on #23
same issue with me

[2021-10-01 09:43] VarunS2002 commented on #23
@dipankar-npowered @damodarnaidugali
The NSE website was itself not working till now so the app wasn't working. Try using it now.

[2021-10-02 05:52] dipankar-npowered commented on #23
Yeah it's working.

[2021-10-02 05:52] #23 closed

[2021-10-02 06:00] dipankar-npowered opened #24 "Does it have Macbook support app?"
Does it have a Macbook support app? I was trying to build it on my MacBook but getting the following error.

[code]
And display is looking like:
![Screenshot 2021-10-02 at 11 29 04 AM](https://user-images.githubusercontent.com/66316261/135705467-3efe1515-0a4c-4eb3-bc85-561b436610bc.png)

[2021-10-02 07:10] VarunS2002 commented on #24
@dipankar-npowered
Since I don't have one, I'm unable to test it.
However this error seems to be in the tksheet library and not my program, not completely sure though.

[2021-10-04 09:25] pmandroid opened #25 "IndexError: list index out of range"
[2021-10-04 14:46:28 - INFO ] Windows 10 .py version 5.3
[2021-10-04 14:46:36 - ERROR] Exception in Tkinter callback
[2021-10-04 14:46:36 - ERROR] Traceback (most recent call last):
  File "C:\Users\prash\AppData\Local\Programs\Python\Python39\lib\tkinter\__init__.py", line 1892, in __call__
[2021-10-04 14:46:36 - ERROR]     return self.func(*args)
  File "C:\Users\prash\AppData\Local\Programs\Pyt

[2021-10-04 11:58] VarunS2002 commented on #25
#24
Same error happens on MacOS so it's a platform independent issue.
Will look into this.

[2021-10-05 09:54] VarunS2002 commented on #25
@pmandroid
Possibly fixed the issue in fd0981cf846c08628bb69d1f450a76ecb6df570e
Downgrade (or upgrade) to version 5.0.24 of tksheet using `pip install tksheet==5.0.24` and get back

[2021-10-05 09:54] VarunS2002 commented on #24
@dipankar-npowered
Possibly fixed the issue in fd0981cf846c08628bb69d1f450a76ecb6df570e
Downgrade (or upgrade) to version 5.0.24 of tksheet using `pip install tksheet==5.0.24` and get back

[2021-10-05 10:03] dipankar-npowered commented on #25
It's working

[2021-10-05 10:09] #25 closed

[2021-10-05 10:10] #24 closed

[2021-10-05 10:11] VarunS2002 commented on #24
@dipankar-npowered Do all the available features work as expected on a Mac?

[2021-10-05 10:15] dipankar-npowered commented on #24
Yes, it's working as of now.

[2021-10-05 10:25] VarunS2002 commented on #24
@dipankar-npowered
Could you later help me complete the documentation for MacOS like the one [here](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer#method-2-windows-and-linux)

[2021-10-05 10:31] dipankar-npowered commented on #24
I tried to build the app for mac os for you.
Here is the link [https://drive.google.com/drive/folders/1XGSEs7ljyE9GniabZ8uLuxDsxNIJW16V?usp=sharing](url)
Some color issues are there. You can check it.

[2021-10-05 10:36] dipankar-npowered commented on #24
It's in debug mode. You can open by
`open -a NSE_Option_Chain_Analyzer.app`

[2021-10-05 10:55] VarunS2002 commented on #24
@dipankar-npowered
That's pretty cool but I don't have a Mac to try it. Correct me if I'm wrong, since python can be installed and programs can be run without building on Mac, I was hoping I'll add instructions for how to do that for users in documentation just like I did for Linux

[2021-10-05 11:02] dipankar-npowered commented on #24
Yes @VarunS2002 All steps are the same in mac to run this codebase as Linux.
Nothing to change.

[2021-10-05 11:04] VarunS2002 commented on #24
@dipankar-npowered
- Requirements:
    - Python 3.6+
    - Additional steps for Linux:
        - `apt-get install python3-tk`
        - `apt install python3-pip`
    - For Windows https://www.python.org/downloads/ is recommended

- Download the `.py` (Python Source Code) file

- Required
  modules: [requirements.txt](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/blob/master/requir

[2021-10-05 11:05] VarunS2002 commented on #24
Are these color issues present if you run it directly instead  of building?

[2021-10-05 11:12] dipankar-npowered commented on #24
* Requirements:

   * Python 3.6+
   * Additional steps for Linux:

     * `apt-get install python3-tk`
     * `apt install python3-pip`
   * Additional steps for Mac OS:

     * `brew install python3`
     * `brew install python-tk`
   * For Windows https://www.python.org/downloads/ is recommended
 * Download the `.py` (Python Source Code) file
 * Required
   modules: [requirements.txt](https://g

[2021-10-05 11:12] dipankar-npowered commented on #24
No

[2021-10-06 10:13] VarunS2002 commented on #24
@dipankar-npowered I'm a little busy with work, I'll get back to this soon.

[2021-10-08 11:22] amolkulkarn opened #26 "Need help to Get Open High low Close information"
Hello Varun,
thank you for such an amazing tool, it works perfectly. I am currently looking for an Entire option chain Open, high, low, close information as per the strategy is if option Open = High for intraday it will 90 % goes below and same vice versa Open = Low it will keep rising in intraday. It will be nice if you can help how to fetch this information for index options and stock options. F

[2021-10-13 06:09] VarunS2002 commented on #26
@amolkulkarn
But why would you want that if it's already there in the website, you would have to keep 2 windows open either way cause even in my program it will be a separate window.
Currently there are no plans to add this feature.
However, that may change in the future.
Thanks!

[2021-11-11 06:13] zoomme opened #27 "nse_logo.png not found error and not open my .exe file"

[2021-11-11 14:18] VarunS2002 commented on #27
@zoomme Please share the `NSE-OCA.log` file along with the details on how you attempted to run the program and the exact issues you faced

[2021-11-11 23:14] richdevboston opened #28 "Quitting program raises exceptions:"
Quitting program raises exceptions shown below:

streamtologger appears to not be working also.  No log file is produced.

[code]

[2021-11-12 10:30] VarunS2002 commented on #28
Probably same as #25 and #24
Downgrade (or upgrade) to version 5.0.24 of tksheet using `pip install tksheet==5.0.24` and get back

[2021-11-15 13:50] VarunS2002 commented on #27
@zoomme
This issue will be closed in 3 days due to inactivity

[2021-11-16 02:44] VarunS2002 commented on #28
@richdevboston This issue will be closed in 3 days due to inactivity

[2021-11-18 17:30] #27 closed

[2021-11-18 17:31] #28 closed

[2021-11-30 05:11] saurabhdev9936 opened #29 "Option Chain Values are not getting update"
Since Two days I am seeing below attached Results which doesn't have any data
![image](https://user-images.githubusercontent.com/55994849/143989334-4c315946-b03b-4082-8cfe-7d6e41c41d07.png)

[2021-11-30 08:32] VarunS2002 commented on #29
@saurabhdev9936
This is actually not a problem with the app.
The NSE website is itself not working and updating any data.
Since my app retrieves data from their site, it cannot work unless their site works.
You may want to report this issue to NSE so they fix it fast

[2021-11-30 15:20] saurabhdev9936 commented on #29
okay thanks for the Quick response :)

[2021-11-30 15:57] VarunS2002 commented on #29
Sure no problem.

[2021-12-01 11:44] VarunS2002 commented on #29
@saurabhdev9936
The NSE website was working today. Closing this issue.

[2021-12-01 11:44] #29 closed

[2022-01-01 13:46] vinayentc opened #30 "OI Change Addition"
Hi,
Thanks a lot for the wonderful tool. Can you please add the function for "OI Change" as well along with open interest. Thanks.

[2022-01-04 15:26] VarunS2002 commented on #30
@vinayentc
Sorry for the late reply
Is this what you are looking for?

![image](https://user-images.githubusercontent.com/30069380/148082205-d4bc405b-ccee-4db6-a50d-059a5e497f59.png)

This saves all the option chain data to a csv file so you can see whatever you want.

[2022-01-10 15:00] vinayentc commented on #30
Hi Varun, Thanks for the response. Yes but i think it will be a enhancement to show in the tool itself the OI change difference.
May be you can consider for any future enhancement. Therefore, closing the issue. Thanks.

[2022-01-10 15:00] #30 closed

[2022-01-10 16:19] VarunS2002 commented on #30
@vinayentc
The OI values in one row listed are calculated by combining 3-4 rows from the NSE website table, so there is no corresponding OI Change value to display next to them. Thanks.

[2022-01-24 13:59] rajkalangutkar opened #31 "Cannot go back after checking the OI of any particular derivative"
To go back to check the OI analysis of a different derivative, we have to close the app and restart it to choose a different derivative.

[2022-01-25 05:44] fedorajayesh opened #32 "List index out of range"
Exception in Tkinter
Indexerror : list index out of range error
It will not display option chain in tsheet

[2022-01-25 05:46] VarunS2002 commented on #31
@rajkalangutkar
That is how the app is designed, it is intended for users to run multiple instances simultaneously.
This cannot be changed.

[2022-01-25 05:46] #31 closed

[2022-01-25 05:48] VarunS2002 commented on #32
Most likely a duplicate of #25
Re-open issue if not.

[2022-01-25 05:48] #32 closed

[2022-02-28 06:43] amit-lalakiya opened #33 "Getting error"
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\amit\AppData\Local\Programs\Python\Python39\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "C:\Users\amit\AppData\Local\Programs\Python\Python39\lib\tkinter\__init__.py", line 814, in callit
    func(*args)
  File "D:\Market\Python\ExcelTrading\OC_Analyzer_VarunS2002.py", line 157

[2022-02-28 08:10] VarunS2002 commented on #33
Most likely a duplicate of #25.
Re-open issue if not.

[2022-02-28 08:10] #33 closed

[2022-02-28 11:52] amit-lalakiya commented on #33
Your suggested fix worked. Now it is working as intended.  I should have looked for the error reports before raising a new one. Thanks for making such an amazing tool.

[2022-03-01 05:44] VarunS2002 commented on #33
@amit-lalakiya No issues. Thanks!

[2022-04-02 07:22] sonisultania commented on #9
Hey,

Do you still access this? I'm getting an error while accessing the NSE
website using Python. Do let me know if you could help me with this.

Regards

On Fri, Jan 22, 2021 at 7:24 PM Varun Shanbhag ***@***.***>
wrote:

[2022-04-02 08:09] VarunS2002 commented on #9
@sonisultania  Are you getting an error while using my program?

[2022-04-02 08:49] sonisultania commented on #9
Yes, I'm getting an error while using ur earlier program. It was working
fine till March expiry. Not working since y'day. I'm getting a timeout
error. I even changed the header information as per the latest on NSE
website. Still getting a request timeout error.

Is it working for you?

On Sat, Apr 2, 2022 at 1:39 PM Varun Shanbhag ***@***.***>
wrote:

[2022-04-02 16:35] VarunS2002 commented on #9
@sonisultania Which earlier program?

[2022-04-03 12:09] sonisultania commented on #9
The earlier code for option chain data extraction, it's there in the chain
mail.

My program is now working, apparently the header info needed to be changed.

Thanks for responding to my email & apologies for bugging you :)

On Sat, Apr 2, 2022 at 10:06 PM Varun Shanbhag ***@***.***>
wrote:

[2022-04-03 12:26] VarunS2002 commented on #9
@sonisultania No problem

[2022-04-13 04:24] jainankur11788 opened #36 "Exception in tkinter module"
$ python3 oi.py
Exception in Tkinter callback
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/tkinter/__init__.py", line 1883, in __call__
    return self.func(*args)
  File "oi.py", line 566, in start
    self.main_win()
  File "oi.py", line 960, in main_win
    self.sheet.enable_bindings(
  File "/Library/Frameworks/Python.framework/Vers

[2022-04-13 09:32] VarunS2002 commented on #36
@jainankur11788
Which version of tksheet are you using?

[2022-04-13 09:33] VarunS2002 commented on #36
Type `pip freeze` or `pip3 freeze` in your terminal to check

[2022-04-13 09:54] VarunS2002 commented on #36
@jainankur11788
As it turns out, this is an issue with the `tksheet` library itself -> https://github.com/ragardner/tksheet/issues/117
This should be fixed soon but for the time being you can switch to version `5.3.5`
Run `pip install tksheet==5.3.5` or `pip3 install tksheet==5.3.5` in your terminal

[2022-04-13 11:46] jainankur11788 commented on #36
Cool
Downgrading the version of tksheet to 5.3.5 works.

[2022-04-13 16:58] #36 closed

[2022-04-14 06:38] deshdeepak27 opened #37 "New Feature Request"
Hi Varun and Team, Congratulations for building a great product. I have used some of the paid software for Open Interest analysis while your product offers great insights, however there is a limitation in terms of strike coverage.
When i enter a strike price for Banknifty, Call/PUT sum is calculated for 2 strike price away from spot, this range is very less to capture moves of FIIs and Big players

[2022-04-14 17:37] VarunS2002 commented on #37
@deshdeepak27
Thanks for the request.
I will be considering to add this in the future.

[2022-04-29 07:25] muttusarve opened #38 "suggestions"
Hi.. it is really nice work.. few suggestions :

1) is it possible to add parameters like LTP, IV.
2) charts will be more helpful, is it possible to add charts using Dash libraries, it will be easy to analyze live data on web rather than excel. because excel will crash many times.
3) if we keep live export on and when we open excel to plot the charts, the GUI is stop working and live data won't up

[2022-04-29 07:28] VarunS2002 commented on #38
@muttusarve Will consider it in the future

[2022-04-29 07:28] #38 closed

[2022-05-07 17:11] eagles-eye-python opened #39 "Enhancement: Adding Multiple StrikePrices"
Hi @VarunS2002 , Thank you so much creating this wonderful application,
Is there any way we can add multiple strike prices to the list instead of only one?

[2022-05-07 17:33] VarunS2002 commented on #39
@eagles-eye-python Thanks.
But no, you can only add one strike price at a time.
You can run multiple instances at the same time with different strike prices though.

[2022-05-07 17:33] #39 closed

[2022-05-14 09:35] RCNJ789 opened #40 "I need Vwap (for bank nifty future ) and multiple strick price in one"
Dear Varun
can you provide or add  Vwap (for bank nifty future ) indicator  and  multiple strick price in one.
please provide email in msg if possible to contact you for this and can we convert this to Website or APK?

[2022-05-14 18:18] RCNJ789 opened #41 "Can you please add Vwap near Put Itm. For Bank nifty Future"

[2022-05-14 18:19] RCNJ789 commented on #39
Yes But need Software Like Autotrender.

[2022-05-16 08:45] VarunS2002 commented on #41
Duplicate of #40

[2022-05-16 08:45] #41 closed

[2022-05-16 17:47] RCNJ789 commented on #40
Any reply Varun sir?

[2022-05-17 09:59] VarunS2002 commented on #40
@RCNJ789 Will consider adding these in the future

[2022-05-17 10:03] RCNJ789 commented on #40
I can buy a coffee for you if you please do it early as possible. if any Fee or charges for modified soft i will pay.
please let me know to can i contact you

[2022-05-17 10:46] VarunS2002 commented on #40
I appreciate the offer but I'm currently busy with my work and I unfortunately cannot add these features anytime soon. Due to this only bug fixes and compatibility issues are the priority right now.
I don't provide my personal email for these collaborations and discussions since I'm not doing any.
Just like these features, converting this program into a website or mobile app is a huge undertaking

[2022-05-22 16:40] RCNJ789 opened #42 "Please add Pcr In CSV file"
The Pcr value need to include in CSV file.

[2022-05-25 14:17] VarunS2002 commented on #42
@RCNJ789 Will consider adding this in the future

[2022-05-30 05:02] kpkp01 opened #43 "Failed to Fetch symbols"
Hello team,

when i run the exe file i'm getting this "failed to fetch symbols, the program will now exit." error.
[https://prnt.sc/D5qRu41MR7jU](url)
how to fix this.
thanks

[2022-05-30 08:58] VarunS2002 commented on #43
@kpkp01
Please share some details about what values you entered, which version of the program you're running, etc and provide the logs.

[2022-05-30 09:09] kpkp01 commented on #43
@VarunS2002

I have installed [this](https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/releases/download/5.4/NSE_Option_Chain_Analyzer_5.4.exe) latest version exe file, what type of log you need,

i didn't do anything apart from installing this package, and when i opened the app, i got this above mentioned error.

btw what type of log you need ?

[2022-05-30 10:05] VarunS2002 commented on #43
1. There will be a `NSE-OCA.ini` file in the same folder as the `.exe` file.
2. In that file set `logging = True` from `False`.
3. Open the `.exe` file and let the same error occur again.
4. There should be a new file called `NSE-OCA.log` in the same folder as the `.exe` file.
5. Upload that file here.
6. Also upload a screenshot of the error.

[2022-06-06 08:43] VarunS2002 commented on #43
@kpkp01
Issue will be closed by this weekend due to inactivity.

[2022-06-06 15:35] VarunS2002 commented on #43
@kpkp01 Okay good.

[2022-06-06 15:35] #43 closed

[2022-06-20 15:48] saurabhdev9936 opened #44 "can you please add toast notification when call sum is greater than pull sum or vice versa"
Hi @VarunS2002 , Thank you so much creating this wonderful application,
can you please add toast notification when call sum is greater than pull sum or vice versa, if you can give me the code line may be i can develop it myself , but not very good at python.

[2022-06-20 16:02] VarunS2002 commented on #44
@saurabhdev9936

This feature already exists as shown here:

![image](https://user-images.githubusercontent.com/30069380/174640828-b4fa9b6d-fe1e-4292-b375-600aa4fbbab3.png)

The code is also already available here for the public here:
https://github.com/VarunS2002/Python-NSE-Option-Chain-Analyzer/blob/master/NSE_Option_Chain_Analyzer.py

If this does not solve your query, you can reopen the issue.

[2022-06-20 16:02] #44 closed

[2022-06-29 18:07] snchoudhary opened #46 "please contact me"
@VarunS2002 Hello brother i see you done great work in option chain analyzer. i want to update you that nse option chain data is in contracts. so it is difficult in analysis. if we multily one lot with qantity size it come more accurate. for example nifty one contract multiply with 50 and banknifty multiply with 25. then it come in lakhs. so we want that if you can add a feature where we can see O

[2022-06-30 15:29] Thesoulofsuccess opened #47 "Unable to install in MAC OS Catalina"
Hello Varun, this is good stuff. However me unable to install this exe in MAC, I have OS catalina 10.15.7

[2022-06-30 20:07] VarunS2002 commented on #46
@snchoudhary
These type of requests are very common. Everyone has their own preference of the units of the values and different multiples.
This is why I provide the feature to export to a `.csv` file so people can use their own MS Excel scripts and manipulate the data accordingly.

For future purposes: This is where you are supposed to contact me and you can set the title to be the feature request

[2022-06-30 20:10] #47 closed

[2022-07-01 11:37] snchoudhary commented on #46
but the problem is i am unable to see data in live market. If csv file is open then data is not exporting. if csv file closed data is exporting. that's why i am telling you just add feature in only index, like Nifty(multiply 50) And Banknifty(multiply 25) it is great feature. because majority of people see data in lakhs. otherwise you can add feature where select option. Oi in Lakh and Oi in Contr

[2022-07-01 16:31] VarunS2002 commented on #46
@snchoudhary
You have to import the `.csv` data into a separate Excel file write a macro in Excel to continually refresh the file's data.
In this new file there will be the data which you have to multiply by the preferred value.

Regardless, I will consider adding a custom multiple in the future.

[2022-07-09 09:14] VarunS2002 commented on #46
Yes I am aware there are some issues which need workarounds that's why I will be considering this feature in the future.

[2022-07-09 09:15] VarunS2002 commented on #46
@snchoudhary Could you please name the columns/labels of the values that have to be multiplied?

[2022-09-01 10:28] praveen0235 opened #48 "Http connection gets failed frequently"
HTTPSConnectionPool(host='www.nseindia.com', port=443): Max retries exceeded with url: /api/option-chain-indices?symbol=NIFTY (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001E00F3460D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')) <class 'requests.exceptions.ConnectionError'> 4

[2022-09-19 17:29] VarunS2002 commented on #48
@praveen0235
Sorry for the late reply.
Is it working now or is it still broken?
Try increasing the refresh interval.

[2022-10-07 17:27] kulrm23 opened #49 "FUTURES DATA"
Hi,
This program is great. Just wants to thank you for your contribution and raise a request. Since analysis is incomplete without futures data. can you please release a version which can fetch futures data also? Its humble request , please work on this if you able to spare some time.

[2022-10-11 17:21] richlysakowski opened #50 "Can you please add selection list for strike prices? The program should automatically pull available strike prices for selected underlying symbol(s), and then let the user select strike prices"
This program is very nice.  You did a great job.  it looks like it took a ton of work.  Thank you for your contribution!

I would like to make a request.  Can you please add functions to automatically pull available strike prices for each underlying symbol, and then let the user select (from a list or table) the strike they want to display and analyze?

Right now, when using this program by itself

[2022-10-29 10:04] kulrm23 commented on #49
Hi waiting for a response.